.loader {
  width: 120px;
  height: 16px;
  -webkit-mask: radial-gradient(circle closest-side, #f5d91f 94%, #0000)
    left/20% 100%;
  background: linear-gradient(#f5d91f 0 0) left/0% 100% no-repeat #494949;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
  100% {
    background-size: 120% 100%;
  }
}
