.lost {
  padding: 20px;
  background-color: #393939;
  // max-height: 480px;
  border-radius: 4px;
  margin-left: auto;

  @media screen and (max-width: 1200px) {
    margin-left: 0;
    max-width: 480px;
    width: 100%;
    margin: 20px 0 50px 0;
  }

  @media screen and (max-width: 510px) {
    max-width: 352px;
    width: 100%;
  }

  @media screen and (max-width: 390px) {
    max-width: 288px;
    width: 100%;
  }

  .title {
    color: #ffffff;
    margin-bottom: 20px;

    @media screen and (max-width: 510px) {
      display: none;
    }
  }
}

.lostList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #ffffff;
  padding-bottom: 20px;
  border-bottom: 1px solid #666666;

  @media screen and (min-width: 1201px) {
    width: 280px;
  }
}

.total {
  font-size: 15px;
  padding-top: 30px;

  h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 500;
    line-height: 100%;
  }
}
